body {
    background-color: rgb(92, 122, 211);
    font-family: 'Inter';
}

header {
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(152, 205, 255);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 750px;
    border-radius: 10px;
}

.form-gastos {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

.form-gastos textarea {
    height: 100px;
    resize: none;
    font-size: 18px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.form-gastos button {
    margin-top: 12px;
    align-self: center;
    border-radius: 10px;
    height: 50px;
    width: 500px;
    background-color: rgb(152, 205, 255);
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.resultados {
    width: 500px;
    margin: 20px auto;
    padding: 20px;

    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-top: 10px;
}

.resultados p {
    font-size: 16px;
    margin: 8px 0;
}

.error {
    width: 475px;
    margin: 15px auto;
    padding: 12px;

    background: #ffe5e5;
    color: #b30000;
    border-radius: 6px;
    text-align: center;
}

.btn-refrescar {
    display: block;
    width: 478px;
    margin: 15px auto;
    margin-top: 6px;
    padding: 10px;

    text-align: center;
    text-decoration: none;

    background: rgb(152, 205, 255);
    color: white;
    border-radius: 6px;
    font-weight: 600;
}

